*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo_img {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #CCC;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.button_dark {
    background-color:#000;
}

.button_dark:hover {
    background-color:#B28756;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    min-width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide_area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 15px;
}

.banner .sliders_pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section_title,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section_title {
    font-size: 20px;
}

.default .section_desc {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section_body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .section_title,
.default.light .section_body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section_title,
.default.dark .section_body {
    color: #FFF;
}

footer {
    background-color: #000;
    padding: 20px;
}

.footer_area {
    display: flex;
    max-width: 1140px;
    margin: auto;
    color: #FFF;
}

.footer_item {
    flex: 1;
}

.footer_social {
    display: flex;
}
.footer_social a {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-color: #333;
    display: flex;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
}

.footer_social a:hover {
    background-color:#B28756;
}

.footer_social img{
    height: 10px;
}

.footer_info {
    margin-top: 115px;
    font-weight: 600;
}

.footer_item.area2 {
    font-size: 12px;
    line-height: 20px;
    color: #999;
    padding:0 10px 10px 10px;
}

.footer_item.area3 form {
    background-color: #333;
    text-align: center;
    padding:30px;
}

.footer_item.area3 input {
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    color:#FFF;
    font-size:14px;
    font-weight: 600;
    outline: 0;
    text-align:center;
}

.footer_item.area3 button {
    border: 0;
}

/*
CSS DE AREAS ESPECIFICAS
*/

.section_aboutUs {
    display: flex;
}

.section_aboutUs_left {
    flex: 1;
}

.section_aboutUs_left p {
    font-size: 14px;
    line-height: 25px;
}

.section_aboutUs_right {
    width: 520px;
    text-align: center;
}

.section_aboutUs_right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section_services {
    display: flex;
}

.section_service {
    flex: 1;
    text-align: center;
    border-left: 1px solid #333;
    padding: 15px;
}

.section_service:last-child {
    border-right: 1px solid #333;
}

.section_service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section_service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section_projects {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}

.section_projects_filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section_projects_filters ul,
.section_projects_filters li {
    list-style: none;
}

.section_projects_filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.section_projects_filters li:hover,
.section_projects_filters li.active {
    border-bottom: 3px solid #B28756
}

.section_projects_filters li:first-child {
    border-left: 0;
}

.section_projects_photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_projects_photo {
    width: 280px;
}

.section_projects_photoArea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section_projects_photoArea img {
    width: inherit;
    height: inherit;
}

.section_projects_photoInfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section_projects_photoInfo h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.section_projects_photoArea:hover .section_projects_photoInfo {
    display: flex;
}

.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section_team_area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section_team .sliders {
    min-width: 1000vw;
    height: 100%;
}

.section_team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}

.section_team .slide_area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section_team_area .sliders_pointers,
.section_clients .sliders_pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_team_area .pointer,
.section_clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section_team_area .pointer.active,
.section_clients .pointer.active {
    background-color: #B28756;
}

.section_team_avatar,
.section_clients_avatar {
    width: 150px;
    height: auto;
}

.section_team_name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section_team_role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section_team_social {
    display: flex;
    margin-top: 20px;
}

.section_team_social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}

.section_team_social a:hover {
    background-color: #B28756;
}

.clients .section_body {
    max-width:initial;
}

.section_clients {
    overflow:hidden;
}

.section_clients .sliders {
    width:1000vw;
    height:100%;
}

.section_clients .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}

.section_clients .slide_area {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}

.section_clients_avatar {
    width:100px;
}
.section_clients_name {
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
}

.section-clients_role {
    font-size:14px;
    margin-bottom: 15px;
}

.section_clients_quote_img {
    width:20px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.section_clients_quote {
    font-size:13px;
    max-width:1000px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}

/*
.section_clients_name {
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
}

.section_clients_role {
    font-size: 14px;
    margin-bottom: 15px;
}

.section_clients_quote_img {
    width:20px;
    margin-top: 25px;
    margin-bottom: 10px;
}
*/

.section_enterprises {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}

.section_enterprises_area {
    display: flex;
    align-items: center;

}

.section_enterprise {
    flex: 1;
    text-align: center;
}

.section_enterprises .section_body {
    max-width: 1800px;
    margin: auto;
}

.section_price {
    display: flex;
}

.section_price_item {
    flex: 1;
    background-color: #FFF;
    text-align: center;
    padding: 20px;
    margin-right: 20px;
}

.section_price_item:last-child {
    margin-right:0;
}

.section_price_item_name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section_price_item_value {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
}

.section_price_item_period {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    margin-bottom: 20px;
}

.section_price_item_point {
    font-size: 13px;
}

.premium {
    border-top:1px solid #CCC;
}

.premium .section_body {
    max-width:initial;
}

.section_premium {
    overflow:hidden;
}

.section_premium .sliders {
    width:1000vw;
    height:100%;
}

.section_premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}

.section_premium .slide_area {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}

.section_premium_left {
    flex: 1;
    text-align:right;
}

.section_premium_left img {
    width:300px;
    margin-right:30px;
}

.section_premium_right {
    flex: 1;
}

.section_premium_item {
    display: flex;
    margin-bottom:20px;
}

.section_premium_item img {
    width:20px;
    height:20px;
    margin-right:20px;
}

.section_premium_item div {
    flex: 1;
    font-size: 14px;
    line-height: 20px;
    color:#999;
}

.section_premium_item div h3 {
    text-transform: uppercase;
    font-size: 17px;
    color: #000;
    font-weight: 700;
}

.section_premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section_premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section_premium .pointer.active {
    background-color:#B28756;
}

.section_facts {
    display: flex;
}

.section_fact {
    flex: 1;
    text-align: center;
    padding: 15px;
}

.section_fact h3 {
    margin-top: 20px;
    font-size: 50px;
    color: #B28756;
}

.section_fact_line {
    border: 1px solid #B28756;
    width: 20px;
    margin: auto;
}

.section_fact h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section_fact p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.default.section_share {
    padding: 25px;
    background-color: #FFF;
}

.section_share_area {
    display: flex;
    justify-content: center;
    color: #999;
}

.section_share_item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}

.section_share_item.legend {
    margin-right: 45px;
}

.section_share_item.legend img {
    margin-right: 10px;
}

.section_share_icon {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right:5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.section_share_icon.twitter {
    background-color:#34c5f0;
}
.section_share_icon.linkedin {
    background-color:#127cb4;
}
.section_share_icon.facebook {
    background-color:#336297;
}
.section_share_icon.googleplus {
    background-color:#e74237;
}
.section_share_icon.pinterest {
    background-color:#b71c29;
}

.section_contact {
    max-width: 450px;
    margin: auto;
    text-align: center;
}

.section_contact_split {
    display: flex;
}

.section_contact_split input:first-child {
    margin-right:20px;
}

.section_contact input[type=text],
.section_contact textarea {
    display: block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}

.section_contact textarea {
    height:100px;
    resize:none;
}

.section_contact input[type=submit] {
    border: 0;
}

.section_map {
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_map_area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section_map_info {
    width: 50%;
    padding: 30px;
    background-color: #FFF;
    color: #000;
}

.section_map_info_item {
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}

.section_map_info_item_img {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 10px;
}

.section_map_info_item_img img {
    width: 17px;
    height: auto;
}